.code-generator-wrapper {
  padding: 10px 20px;
  .MuiPaper-root {
    padding: 20px;
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
  .MuiGrid-root {
    .MuiFormControl-root {
      width: 100%;
    }
  }
  .form-wrapper {
    margin-top: 20px;
    position: relative;
    .form-buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
  .text-with-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .icon {
      margin: 0 5px;
    }
  }
  .editor-wrapper {
    padding: 20px 0;
  }
  .typo-with-right-button {
    display: flex;
    justify-content: space-between;
  }
}