.code-generator-wrapper {
  padding: 10px 20px;
  .MuiPaper-root {
    padding: 20px;
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  .alert-wrapper {
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;
    flex-wrap: nowrap;
    .MuiAlert-message {
      max-width: calc(100% - 34px);
      white-space: pre-wrap;
      overflow-wrap: break-word;
    }
  }
  .form-wrapper {
    margin-top: 20px;
    position: relative;
    .form-buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
  .text-with-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .icon {
      margin: 0 5px;
    }
  }
  .editor-wrapper {
    padding: 20px 0;
  }
}