body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;overflow: hidden;
}

.typo-with-right-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .typo {
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .buttons {
    button {
      margin: 0 5px;
    }
    .MuiButtonGroup-root {
      margin: 0 5px;
      button {
        margin: 0;
      }
    }
  }
}

.dialog-content-wrapper {
  padding: 20px;
}
.dialog-form-wrapper {
  .dialog-form {
    padding: 20px;
    min-width: 300px;
    .buttons {
      padding: 20px 0 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}

.template-files-dialog {
  padding: 0;
  min-width: 500px;
  .typo-with-right-button {
    position: sticky;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 -3px 10px 5px rgba(0, 0, 0, .1);
  }
  .template-file-name-with-input {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.MuiSelect-root {
  min-width: 100px;
  padding-left: 10px;
}
.MuiFormControl-root {
  width: 100%;
}

.code-generator-wrapper {
  padding: 10px 20px;
  .database-wrapper {
    .connection-name {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .databases-wrapper {
      height: calc(100vh - 20px - 140px - 20px - 20px - 20px - 1px);
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
  .MuiPaper-root {
    padding: 10px;
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }
  .alert-wrapper {
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;
    flex-wrap: nowrap;
    height: 80px;
    .MuiAlert-message {
      max-width: calc(100% - 34px);
      white-space: pre-wrap;
      overflow-wrap: break-word;
      .message-wrapper {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
  .text-with-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .icon {
      margin: 0 5px;
    }
  }
  .editor-wrapper {
    padding: 20px 0;
  }
}

.connect-form-wrapper {
  padding-bottom: 5px;
}
.connect-form {
  padding: 0 20px 20px;
  margin-top: 20px;
  position: relative;
  .MuiTypography-root {
    padding-bottom: 20px;
  }
  .form-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
